.accordion-icon {
    grid-column: 3;
}

.accordion-icon svg {
    width: 24px;
    height: 24px;
    stroke: #087f5b;

    transition: transform 0.2s ease-in-out;
}

.accordion-content {
    display: grid;
    font-size: 24px;
    font-weight: 500;
    color: #868e96;

    grid-column: 2;
    grid-row: 2;
}

.accordion-content ul {
    margin: 0 auto 10px;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion-header {
    display: grid;
    grid-column: 1 / -1;
    justify-content: space-between;
    align-items: center;
}

.accordion-item {
    color: aliceblue;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 24px;

    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

.accordion-number {
    font-size: 24px;
    font-weight: 500;
    color: #087f5b;
    grid-column: 1;
}

.accordion-text {
    line-height: 1.6;
    margin-bottom: 24px;
    font-size: 16px;
    color: #343a40;
}

.accordion-title {
    font-size: 28px;
    font-weight: 600;
    color: #087f5b;
    grid-column: 2;
}